node_modules
/template-*/.vscode/settings.json
/template-*/.astro
/template-*/dist
/template-*/build
/template-*/pnpm-lock.yaml
/template-*/yarn.lock
/template-*/deno.lock
/template-*/bun.lockb
vite-project
qgp-project
