---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to QGP 👋 ⚛️</h1>
			<p class="warning">
				This project is in alpha state, but we use it in production at <a
					href="https://fogbender.com">fogbender.com</a
				>. If you find any bugs, please <a href="https://github.com/JLarky/create-qgp/issues"
					>open an issue</a
				>.
			</p>
			<h2>Why QGP?</h2>
			<p>
				<a href="https://qgp.app">Check out our docs</a> for more information about the project. But,
				here's a quick summary:
				<strong
					>QGP is a framework designed for seamlessly incorporating complex single page applications
					within <a href="http://astro.build">Astro</a> by adding an additional pre-configured <a
						href="http://vitejs.dev">Vite</a
					> development server.</strong
				>
			</p>

			<h3>Local Demo Instructions</h3>
			<div class="action">
				<p>
					To get started, run <code>nr dev</code> in your terminal. This will start the Astro dev server
					and the Vite dev server at the same time. You'll see two URLs in your terminal:
				</p>
				<ul>
					<li>
						Open <a href="http://localhost:3000">http://localhost:3000</a> to work on the entire Astro
						website.
					</li>
					<li>
						Open <a href="http://localhost:5173">http://localhost:5173</a> to work on just the React
						app in Vite.
					</li>
					<li>
						Check out the <a href="/SPA">SPA</a> page to see some examples and explanations of how everything
						works.
					</li>
				</ul>
			</div>
			<h3>What's Next?</h3>
			<p>
				Like we said, we're just getting started. Please check out <a href="http://qgp.app"
					>our docs</a
				> for more information about the project. Or, you just can explore our other templates by running
				<code>npm create qgp@latest</code>. If you have any ideas or questions, feel free to open an
				issue on the <a href="https://github.com/JLarky/qgp.app">GitHub repo</a>.
			</p>
		</main>
		<Footer />
		<style>
			.warning {
				background: #f8d7da;
				margin: 0 -1rem 1rem;
				padding: 1rem;
				border-radius: 0.25rem;
			}
			.action {
				background: #d4edda;
				margin: 0 -1rem 1rem;
				padding: 1rem;
				border-radius: 0.25rem;
			}
		</style>
	</body>
</html>
